<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://211.92.240.251:80/MMS/content_access.action?k3=7bf0ea4b2b424ea4a928e84fcc288a0f</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://211.92.240.251/client/llcx/iphone512.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://211.92.240.251/client/llcx/iphone57.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ynzjcx.MobileMarketModify</string>
				<key>bundle-version</key>
				<string>2.001.006</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>流量查询</string>
				<key>title</key>
				<string>流量查询</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
